@page
@model TorneoDepartamental.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalles del Equipo</h1>
<table>
    <tr>
        <th scope="col">Id</th>
        <td>@Model.equipo.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        @if (Model.equipo.Municipio==null)
        {
            <td><a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@Model.equipo.Id">Asignar Municipio</a></td>       
        }else{
            <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <td>@Model.equipo.Municipio.Id</td>
                <td>@Model.equipo.Municipio.Nombre</td>
            </tr>
        </table>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
