@page
@model TorneoDepartamental.App.Frontend.Pages.Equipos.IndexModel
@{
}
<h1>Filtrar Equipo</h1>    
    <form method="get">
    <div class="form-group">
        <label for="g">Filtrar</label>
        <select name="g" id="g" asp-for="@Model.gActual" class="form-control">
            <option value="-1">Ver todos</option>
            @foreach (var equipo in Model.Equipos)
            {
                <option value="@equipo.Nombre">@equipo.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>


<h1>Buscar Equipo</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado de Equipos</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Equipo</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.Equipos)
        {
            <tr>
                <td>@equipo.Id</td>
                <td>@equipo.Nombre</td>
                @if (equipo.Municipio==null)
                {
                    <td></td>
                }else{
                    <td>@equipo.Municipio.Nombre</td>
                }
                
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@equipo.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
