@page
@model TorneoDepartamental.App.Frontend.Pages.NovedadesPartidos.IndexModel
@{
}
<h1>Listado de Novedades de Partidos</h1>
<a class="btn btn-primary" asp-page="./Create">Crear Novedad de Partido</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Partido Id</th>
            <th scope="col">Fecha Partido</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var novPartido in Model.NovedadesPartidos)
        {
            <tr>
                <td>@novPartido.Id</td>
                @if (novPartido.Partido == null)
                {
                    <td></td>
                    <td></td>
                }else{
                    <td>@novPartido.Partido.Id</td>
                    <td>@novPartido.Partido.FechaPartido</td>
                }
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@novPartido.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@novPartido.Id">Editar</a>    
                </td>
            </tr>
        }
    </tbody>
</table>