@page
@model TorneoDepartamental.App.Frontend.Pages.NovedadesPartidos.IndexModel
@{
}
<h1>Filtrar Novedad Partido</h1>    
    <form method="get">
    <div class="form-group">
        <label for="g">Filtrar</label>
        <select name="g" id="g" asp-for="@Model.gActual" class="form-control">
            <option value=@Model.gActual>Ver todos</option>
            @foreach (var novPartido in Model.NovedadesPartidos)
            {
                <option value="@novPartido.Partido.FechaPartido">@novPartido.Partido.FechaPartido</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<h1>Buscar Novedad Partido</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar por fecha del partido</label>
        <input type="date" name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado de Novedades de Partidos</h1>
<a class="btn btn-primary" asp-page="./Create">Crear Novedad de Partido</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Partido Id</th>
            <th scope="col">Fecha Partido</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var novPartido in Model.NovedadesPartidos)
        {
            <tr>
                <td>@novPartido.Id</td>
                @if (novPartido.Partido == null)
                {
                    <td></td>
                    <td></td>
                }else{
                    <td>@novPartido.Partido.Id</td>
                    <td>@novPartido.Partido.FechaPartido</td>
                }
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@novPartido.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@novPartido.Id">Editar</a>    
                </td>
            </tr>
        }
    </tbody>
</table>