@page
@model TorneoDepartamental.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1>Filtrar Municipio</h1>    
    <form method="get">
    <div class="form-group">
        <label for="g">Filtrar</label>
        <select name="g" id="g" asp-for="@Model.gActual" class="form-control">
            <option value="-1">Ver todos</option>
            @foreach (var municipio in Model.Municipios)
            {
                <option value="@municipio.Nombre">@municipio.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<h1>Buscar Municipio</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado de Municipios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Municipio</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.Municipios)
        {
            <tr>
                <td>@municipio.Id</td>
                <td>@municipio.Nombre</td>
                <td>
                    @* <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@municipio.Id">Editar</a> *@
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@municipio.Id"><i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>