@page
@model TorneoDepartamental.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1>Listado de Municipios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Municipio</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.Municipios)
        {
            <tr>
                <td>@municipio.Id</td>
                <td>@municipio.Nombre</td>
                <td>
                    @* <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@municipio.Id">Editar</a> *@
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@municipio.Id"><i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>