@page
@model TorneoDepartamental.App.Frontend.Pages.Estadios.IndexModel
@{
}
<h1>Buscar Estadio</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado de Estadios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Estadio</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            @* <th scope="col">Direccion</th>
            <th scope="col">Municipio</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var estadio in Model.Estadios)
        {
            <tr>
                <td>@estadio.Id</td>
                <td>@estadio.Nombre</td>
                @* <td>@estadio.Direccion</td>
                <td>@estadio.Municipio</td> *@
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@estadio.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@estadio.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>