@page
@model TorneoDepartamental.App.Frontend.Pages.NovedadPartido.DetailsModel
@{
}
<h1>Novedades del Partido</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Minuto Partido</th>
            <th scope="col">Tarjeta</th>
            <th scope="col">Gol</th>
            <th scope="col">Partido</th>
            <th scope="col">Equipo</th>
            <th scope="col">Jugador</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.novPartido.Id</td>
            <td>@Model.novPartido.MinutoPartido</td>
            <td>@Model.novPartido.Tarjeta</td>
            <td>@Model.novPartido.Gol</td>

            @if (Model.novPartido.Partido == null)
            {
                <td><a class="btn btn-primary" asp-page="./AssignPartido" asp-route-id="@Model.novPartido.Id">Asignar
                        Partido</a></td>
            }
            else
            {
                <td>@Model.novPartido.Partido.Id</td>
            }



            @if (Model.novPartido.Equipo == null)
            {
                <td><a class="btn btn-primary" asp-page="./AssignEquipo" asp-route-id="@Model.novPartido.Id">Asignar
                        Equipo</a>
                </td>
            }
            else
            {
                <td>@Model.novPartido.Equipo.Nombre</td>
            }


            @if (Model.novPartido.Jugador == null)
            {
                <td><a class="btn btn-primary" asp-page="./AssignJugador" asp-route-id="@Model.novPartido.Id">Asignar
                        Jugador</a></td>
            }
            else
            {
                <td>@Model.novPartido.Jugador.Nombre</td>
            }

        </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>