@page
@model TorneoDepartamental.App.Frontend.Pages.NovedadPartido.IndexModel
@{
}
<h1>Listado de Novedades de Partidos</h1>
<a class="btn btn-primary" asp-page="./Create">Crear Novedad de Partido</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Minuto Partido</th>
            <th scope="col">Minuto del Gol</th>
            <th scope="col">Tarjeta</th>
            <th scope="col">Gol</th>
            
        </tr>
    </thead>
    </tbody>
        @foreach (var novPartido in Model.NovedadesPartidos)
        {
            <tr>
                <td>@novPartido.Id</td>
                <td>@novPartido.MinutoPartido</td>
                <td>@novPartido.MinutoPartido</td>
                <td>@novPartido.Tarjeta</td>
                <td>@novPartido.Gol</td>

                
                <td><a class="btn btn-primary" asp-page="./Details" asp-route-id="@novPartido.Id">Detalle</a></td>
                <td><a class="btn btn-primary" asp-page="./Edit" asp-route-id="@novPartido.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>