@page
@model TorneoDepartamental.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<h1>Filtrar Arbitro</h1>    
    <form method="get">
    <div class="form-group">
        <label for="g">Filtrar</label>
        <select name="g" id="g" asp-for="@Model.gActual" class="form-control">
            <option value="-1">Ver todos</option>
            @foreach (var arbitro in Model.Arbitros)
            {
                <option value="@arbitro.Nombre">@arbitro.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<h1>Buscar Arbitro</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<h1>Listado de Arbitros</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Arbitro</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            @* <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
            <th scope="col">Colegio Arbitro</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.Arbitros)
        {
            <tr>
                <td>@arbitro.Id</td>
                <td>@arbitro.Nombre</td>
                @* <td>@arbitro.Telefono</td>
                <td>@arbitro.Documento</td>
                <td>@arbitro.ColegioArbitro</td> *@
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@arbitro.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@arbitro.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
