@page
@model TorneoDepartamental.App.Frontend.Pages.DirectoresTecnicos.DetailsModel
@{
}
<h1>Detalles del Director Tecnico</h1>
<table>            
    <tr>
        <th scope="col">Id</th>
        <td>@Model.tecnico.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.tecnico.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.tecnico.Telefono</td>
    </tr>
    <tr>
        <th scope="col">Documento</th>
        <td>@Model.tecnico.Documento</td>
    </tr>
    <tr>
        <th scope="col">Equipo</th>
        @if (Model.tecnico.Equipo==null)
        {
            <td><a class="btn btn-primary" asp-page="./AddEquipo" asp-route-id="@Model.tecnico.Id">Asignar Equipo</a></td>       
        }else{
            <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <td>@Model.tecnico.Equipo.Id</td>
                <td>@Model.tecnico.Equipo.Nombre</td>
            </tr>
        </table>
        }
        
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>