@page
@model TorneoDepartamental.App.Frontend.Pages.Jugadores.DetailsModel
@{
}
<h1>Detalles del Jugador</h1>
<table>
    <tr>
        <th scope="col">Id</th>
        <td>@Model.jugador.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.jugador.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Numero Camiseta</th>
        <td>@Model.jugador.NumeroCamiseta</td>
    </tr>
    <tr>
        <th scope="col">Posicion</th>
        <td>@Model.jugador.Posicion</td>
    </tr>
    <tr>
        <th scope="col">Equipo</th>
        @if (Model.jugador.Equipo==null)
        {
            <td><a class="btn btn-primary" asp-page="./AddEquipo" asp-route-id="@Model.jugador.Id">Asignar Equipo</a></td>       
        }else{
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                <tr>
                    <td>@Model.jugador.Equipo.Id</td>
                    <td>@Model.jugador.Equipo.Nombre</td>
                </tr>
            </table>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>